* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
}

.main {
	width: 100%;
	margin-top: 57px;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-style: hidden;
}

th {
	font-weight: 500;
}

th, tr {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}

th, td {
	text-align: left;
	padding: 10px;
}

.branding, h1 {
	font-family: "Signika Negative", sans-serif;
}

::selection, ::-moz-selection {
	background-color: #66865c;
	color: #ffffff;
}